<% @title = 'Admin'%>

<h1>Website Admin</h1>

<p>
  <%= link_to 'Gallery Manager', image_manager_path  %>
</p>
<p>
  <%= link_to 'Tutor Manager', tutors_path  %>
</p>
<p>
  <%= link_to 'News Manager', news_items_path  %>
</p>

