- @title = 'Gallery'
- @description = 'Gallery'

%h1 Image Gallery
%p
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer in mi a
  mauris ornare sagittis. Suspendisse potenti. Suspendisse dapibus dignissim
  dolor. Nam sapien tellus, tempus et, tempus ac, tincidunt in, arcu. Duis
  dictum. Proin magna nulla, pellentesque non, commodo et, iaculis sit amet,
  mi. Mauris condimentum massa ut metus. Donec viverra, sapien mattis rutrum
  tristique, lacus eros semper tellus, et molestie nisi sapien eu massa
%p
  click the thunbnail images below to view the full size image.

%div#gallery
  - @gallery_images.each do |img|
    %div.imgHolder
      = link_to(image_tag(img[:thumb_path],
                          {size: '125x125',
                          border: :none}),
                          img[:image_path],
                          class: 'lightbox',
                          rel: 'gallery')
